extends base

mixin upcoming-concert(date, time, city, concertHall, piece, spanText, href)
    .event-container.event-container--homepage
        .event-date-container
            p.text-primary-semibold__dark.text-primary-semibold__dark--large= date
            p.text-primary-semibold__dark.text-primary-semibold__dark--large= time
            p.text-primary-semibold__dark.text-primary-semibold__dark--medium.text-primary-semibold__dark--no-border= city

        .event-description-container.event-description-container--homepage
            h4.text-primary-semibold__dark.text-primary-semibold__dark--concerthall--homepage= concertHall
            h3.text-primary-semibold__dark.text-primary-semibold__dark--piece--homepage= piece

                span.text-primary-semibold__dark--note= spanText
            a.btn-small(href=href target='_blank') See more



mixin cd-homepage(mobileImage, mobileImageAltText, cdImageBack, cdImageBackAlt, cdImageFront, cdImageFrontAlt, cdTitle, cdSubtitle, performers, city, buyLink)
    .cd-card.cd-card--homepage
        .cd-image-mobile
            img#myImg.full-screen-image--img(src= mobileImage alt= mobileImageAltText)

            #myImg-myModal.full-screen-image-modal
                span.full-screen-image-close &times;
                img#myImg-modal.full-screen-image-modal-content
        .cd-image__container
            img.cd-image__back.cd-image__back--homepage(src= cdImageBack alt= cdImageBackAlt)
            img.cd-image__front.cd-image__front--homepage(src= cdImageFront alt= cdImageFrontAlt)
        .cd-card__content
            h4.cd-title.cd-title--homepage= cdTitle 
            h3.cd-subtitle.cd-subtitle--homepage= cdSubtitle

            each performer in performers
                p.cd-performers.cd-performers--homepage= performer
            .cd-btn-container
                p.cd-city.cd-city--homepage= city
                a.btn-medium-gold.text-right(href= buyLink target='_blank') Get on Amazon.de


mixin news-card-dark(newsDate)
    .flex-card.flex-card__wide.flex-card__wide--dark
        .news-date
            .news-date__text 
                h4.news-date__text= newsDate
        .news-content
            block
mixin news-card-light(newsDate)
    .flex-card.flex-card__wide.flex-card__wide--light
        .news-date
            .news-date__text 
                h4.news-date__text= newsDate
        .news-content
            block


block content 
    .container
        #hero.hero
            .hidden-navbar
                include includes/_nav-general.pug
            .hero__sidebar 
                .hero-logo__wrapper
                    h1.logo__brand.logo__brand--hero-section SOPHIE L&Uuml;CKE
                    h2.logo__subtext.logo__subtext--hero-section kontrabass &deg; double bass
                .hero__sidebar__listen-now
                    h3.hero__sidebar__listen-now--heading &bdquo;Schubert a-Moll Sonate, <br> 2.Satz&ldquo;
                    .hero__sidebar__listen-now--performer
                        p.hero__sidebar__listen-now--performer--bass Sophie L&uuml;cke - Kontrabass
                        p.hero__sidebar__listen-now--performer--piano Tomoko Nishikawa - Klavier
                        a.hero__sidebar__listen-now--btn(href='#') Play now
                    img.hero__sidebar__listen-now--image(src='/img/sophie-wo-bg.png' alt='Sophie playing recital')

            .hero__right
                img.hero__right__cover-hero-mobile-img(src='img/sophie-cover-pictures/sophie-tall-crpoped-minified.jpg' alt='')
                include includes/_navbar-large.pug
        .hero-audioplayer
            .hero-audioplayer__close-btn-container
                a.hero-audioplayer--close-btn(href='')
                    sup &amp;times close player
            audio#linkAudio.hero-audioplayer--player.hidden(controls='')
                source(src='/audio/Sophie2satzfertig- (online-audio-converter.com).mp3' type='audio/mpeg')
                source(src='/audio/Sophie2satzfertig-[AudioTrimmer.com].ogg' type='audio/ogg')
                |Your browser does not support the audio element.
        .upcoming-concerts-section-container
            h2.section-header.section-header--dark.mb-n3 UPCOMING CONCERTS
            +upcoming-concert('18 Februar','19:00', "München", "Bayerische Staatsoper", 'Carmen | Gastsolobass','', "https://www.staatsoper.de/")
            +upcoming-concert('1 März','20:00', "München", "Staatstheater am Gärtnerplatz", 'Rigoletto | Solobass', ' (premiere)', "https://www.staatsoper.de/")
            +upcoming-concert('18 Februar','19:00', "München", "Bayerische Staatsoper", 'Carmen | Gastsolobass','', "https://www.staatsoper.de/")
            .upcoming-concerts__btn-container
                a.btn-large-dark(href='https://iuriigav.github.io/Sophie-Lucke/concerts.html#past-concerts') PREVIOUS CONCERTS
                a.btn-large-gold(href='https://iuriigav.github.io/Sophie-Lucke/concerts.html') SEE ALL CONCERTS

        .watch-and-listen.background--dark.text-center.grid-container-12-col.grid-container-12-col--homepage-records
            h2.section-header.section-header--light WATCH AND LISTEN
            
            - const performers1 = ['Barbara Höfling, Sopran', 'Helios Quartet', 'Sophie Lücke, Kontrabass']
            - const performers2 = ['Markus Elsner, Dirigent', 'Thérèse Wincent, Soprano', 'Peter Schöne, Baritone', 'Ensemble Zeitsprung']
            
            +cd-homepage('/img/cd-1-front-minified.jpg', 
                        'cd-cover-image', 
                        '/img/cd-1-back-minified.jpg', 
                        'back of CD cover', 
                        '/img/cd-1-front-minified.jpg', 
                        'front of CD cover displaying soloist walking in a prak', 
                        'DES TODES TOD', 
                        'Werke von Gustav Mahler, Modest Mussorgsky und Paul Hindemith', 
                        performers1, 
                        '2014, Hannover', 
                        'https://www.amazon.de/Todes-Tod-Liederzyklen-Barbara-H%C3%B6fling/dp/B00UW6AFFC')
            +cd-homepage('/img/cd-2-front-minified.jpg', 
                        'cd-cover-image', 
                        '/img/cd-2-back-minified.jpg', 
                        'back of CD cover', 
                        '/img/cd-2-front-minified.jpg', 
                        'front of CD cover abstract image', 
                        'Johannes X. Schachtner', 
                        'Works For Ensemble', 
                        performers2, 
                        '2016, München', 
                        'https://www.amazon.de/Works-Ensemble-Zeitsprung/dp/B01J2K34R4')
            .youtube-feature__container--homepage
                h3.youtube-feature__header In Memory of my great Teacher
                h2.youtube-feature__subheader Rinat Ibragimov<br>(1960-2020)
                p.youtube-feature__text Thankful for ever.
                .youtube-feature__video-wrapper
                    iframe.youtube-feature__video-content(src='https://www.youtube.com/embed/kJ2izflpqhw' srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white !important;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/kJ2izflpqhw><img src=/img/sophie-playong-youtube-placeholder-minified.jpg alt='Sophie playing bass'><span>▶</span></a>" frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
    .grid-container-12-col.text-center.background--lightest
        h2.section-header.section-header--dark News and thoughts
        .grid-container-12-col--home-page
            +news-card-dark('Januar 2020')
                p.news-content__text Let´s start again…  
            +news-card-light('Januar 2020')
                p.news-content__text    …just came back from Sarajevo, an absolutely remarkable City. Of course not only in terms of history and religion, even more because of the  open heart of the people and such nice welcoming and interest of the music students. <br> here some little impressions:
                .carousel(data-flickity='')
                    .carousel-cell
                        img#news-img-1.full-screen-image--img(src='/img/IMG_8562-minified.jpg' alt='Sophie gives a masterclass to young student')
                    .carousel-cell
                        img#news-img-2.full-screen-image--img(src='/img/IMG_8561-minified.jpg' alt='Sophie performs with a chamber group')
                #news-img-1-myModal.full-screen-image-modal
                    span.full-screen-image-close &times;
                    img#news-img-1-modal.full-screen-image-modal-content
                #news-img-2-myModal.full-screen-image-modal
                    span.full-screen-image-close &times;
                    img#news-img-2-modal.full-screen-image-modal-content

         
            +news-card-dark('Januar 2020')
                p.news-content__text dankbar, bereichert, inspiriert und positiv ersch&ouml;pft zur&uuml;ck von den Tagen der Neuen Musik und &uuml;berw&auml;ltigen Konzerten in Bamberg&mldr; hier ist aus TV und Radio Beitr&auml;gen folgendes &uuml;brig geblieben:
                a.simple-link(href='https://www.br-klassik.de/audio/interview-mit-kontrabassistin-sophie-luecke-100.html' target='_blank') https://www.br-klassik.de/audio/interview-mit-kontrabassistin-sophie-luecke-100.html




            +news-card-light('Januar 2020')
                p.news-content__text Schaut euch diesen Sommer den EPOS Orchestra in Montreux an:
                .youtube-video__container
                    iframe#news__container__youtube-video--iframe.youtube-video--centered(src='https://www.youtube.com/embed/kBriEcHUaM0' srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/kBriEcHUaM0><img src=/img/news-youtube-image-placeholder-minified.png alt='Sophie playing bass'><span>▶</span></a>" frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                p.news-content__text Ich freue mich sehr darauf, im Sommer 2018 wieder mit EPOS zu spielen &mldr;
            a.mb-small.btn-large-gold(href='https://iuriigav.github.io/Sophie-Lucke/media-news.html') SEE ALL NEWS
    .bio 
        h2.bio__header BIOGRAPHY